{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur ResPL{% endblock %}

{% block body %}
<h3 class="uk-heading-line uk-text-center"><a href="{{ path('app_login') }}" class="uk-link-heading">Se connecter</a></h3>
{% endblock %}
